version: '3.8'
services:
  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
      args:
        VITE_LOGIN_PASSWORD_HASH: ${VITE_LOGIN_PASSWORD_HASH}
        VITE_APP_WS_URL: ${VITE_APP_WS_URL}
    ports:
      - "3000:80"
  proxy:
    build:
      context: .
      dockerfile: proxy.Dockerfile
    ports:
      - "4000:4000"
    environment:
      - WS_PORT=4000
      - HOST=backend
      - PYTHON_PORT=5959
    depends_on:
      - backend
  backend:
    build:
      context: .
      dockerfile: backend.Dockerfile
    ports:
      - "5959:5959"
    environment:
      - PYTHON_PORT=5959
      - HOST=0.0.0.0
