.card {
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 12px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid #CCCCCC;
}

.card:focus {
  outline: 2px solid #2961a4;
}

.title {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0;
}

.light {
  background: #fff;
  color: #000;
  border: 1px solid #CCCCCC;
}

.dark {
  background: #3C3C3C;
  color: #fff;
  border: 1px solid #6B6B6B;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.hovered {
  background: rgba(42, 99, 164, 1);
  border: 1px solid rgb(42, 99, 164);
  color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.15);
} 