name: Test Comment Trigger

on:
  issue_comment:
    types: [created]

jobs:
  test:
    if: contains(github.event.comment.body, '/ping')
    runs-on: ubuntu-latest
    steps:
      - run: echo "It worked!"
